<header>
    <div class="navbar navbar-expand-sm border-3 border-bottom color-borde" style="background-color: #B9F6FF;">
        <div class="container-fluid">
            <a routerLink="/" class="navbar-brand ps-2"><img src="logo/logo.svg" alt="logo de la app"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#collaseNavbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collaseNavbarContent">
                <ul class="navbar-nav me-auto w-100 ">
                    <li class="nav-item text-sm-center text-start border-3 color-borde border-start border-end ">
                        <a routerLink="/" class="nav-link">
                            <i class="bi bi-house"></i>
                            <span class="ocultar-palabrabarra">Home </span>

                        </a>
                    </li>

                    @if(isLoggedIn$ | async){
                    <li class="nav-item text-sm-center text-start border-3 color-borde border-end">
                        <a routerLink="/mapa" class="nav-link">
                            <i class="bi bi-map"></i>
                            <span class="ocultar-palabrabarra">Mapa</span>
                        </a>
                    </li>
                    <li class="nav-item text-sm-center text-start border-3 color-borde  border-end">
                        <a routerLink="/chat" class="nav-link">
                            <i class="bi bi-chat-left-dots"></i>
                            <span class="ocultar-palabrabarra">Chats</span>
                        </a>
                    </li>
                    <li class="nav-item text-sm-center text-start border-3 color-borde  border-end">
                        <a routerLink="/ticket" class="nav-link">
                            <i class="bi bi-ticket-perforated"></i>
                            <span class="ocultar-palabrabarra">Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item text-sm-center text-start border-3 color-borde  border-end ocultar-busqueda">
                        <a routerLink="/search" class="nav-link ">
                            <i class="bi bi-search"></i>
                            <span class="ocultar-palabrabarra">Busqueda</span>
                        </a>
                    </li>
                    <li class="nav-item text-sm-center text-start border-3 color-borde  border-end">
                        <a routerLink="/profile" class="nav-link">
                            <i class="bi bi-person"></i>
                            <span class="ocultar-palabrabarra">Perfil</span>
                        </a>
                    </li>
                    <li class="nav-item text-sm-center text-start border-3 color-borde  border-end ">
                        <a href="javascript:void(0)" class="nav-link" (click)="logout();  $event.preventDefault()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span class="">Logout</span>
                        </a>
                    </li>
                    }@else {
                    <li class="nav-item text-sm-center text-start border-3 color-borde  border-end">
                        <a routerLink="/login" class="nav-link ">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span class="">Login</span>
                        </a>
                    </li>
                    }
                    <li class="nav-item border-3 color-borde  border-end">
                        <a href="#" class="nav-link">
                            Idioma
                        </a>
                    </li>

                </ul>
                <form action="" class="d-flex  d-none d-lg-flex  p-2 ">
                    <input type="text" class="form-control" type="search" placeholder="Buscar..">
                    <button class="btn "><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>