@import "variables";

.card {
  border-radius: 15px;
  border: none;
}

.form-label {
  font-weight: 600;
  color: #444;
}

.botones-guardar {
  

  .btn-guardar {
    color: black;
    background-color: #00B8D4;
    border: 8px solid #00B8D4;
    border-radius: 7px;

    &:hover {
      background-color: #00acc1;
      border-color: #00acc1;
    }
  }
  .btn-guardar-secondary{

    background-color: white;
    border: 2px solid #00B8D4;
    border-radius: 7px;
    color: #00B8D4;
    &:hover {
      background-color: #00B8D4;
      border-color: #00B8D4;
    }
  }
}


.invalid-feedback {
  font-size: 0.85rem;
}