<div class="overlay-container">
  <div class="main-container">
    <header class="header-text">
      <h1>Restablecer Contraseña</h1>
      <p>Crea una nueva contraseña segura para acceder a Sonara.</p>
    </header>

    <div class="signup-card">
      <form (ngSubmit)="onResetPassword()" *ngIf="!passwordChanged">
        <div class="input-group-custom">
          <label for="newPassword">Nueva Contraseña</label>
          <input type="password" [(ngModel)]="dto.newPassword" name="newPassword" id="newPassword" required>
        </div>
        <div class="input-group-custom">
          <label for="confirmPassword">Confirmar Nueva Contraseña</label>
          <input type="password" [(ngModel)]="dto.confirmPassword" name="confirmPassword" id="confirmPassword" required>
        </div>
        <button type="submit" class="btn-register" [disabled]="loading">
          {{ loading ? 'Actualizando...' : 'Cambiar contraseña' }}
        </button>
      </form>

      <div *ngIf="passwordChanged" class="success-box">
        <p>¡Contraseña actualizada con éxito!</p>
        <a [routerLink]="['/login']" class="btn-register mt-3 d-flex justify-content-center">Ir al Login</a>
      </div>

      <p *ngIf="errorMessage" class="error-message mt-3">{{ errorMessage }}</p>
    </div>
  </div>
</div>