* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    gap: 30px;
    background-color: #B9F6FF;
}

/* body {
    overflow: visible;
    background-color: #B9F6FF;
    min-height: 100vh;
} */