<footer class="bg-white p-3 ">

    <div class="row">
        <div class="col-4 text-start">
            <ul>
                <li style="list-style: none;"><i class="bi bi-instagram minilogo"> @SonaraApp</i></li>
                <li style="list-style: none;"><i class="bi bi-facebook minilogo"> @SonaraApp</i></li>
                <li style="list-style: none;"><i class="bi bi-twitter minilogo"> @SonaraApp</i></li>
            </ul>

        </div>
        <div class="col-4 text-center ">
            <ul>
                <li style="list-style: none;"><a href="">Aviso Legal</a></li>
                <li style="list-style: none;"><a href="">Terminos de Condicion</a></li>
                <li style="list-style: none;"><a href="">Licencia</a></li>
                <li style="list-style: none;"><img class="logoFooter" src="logo/logo.svg"
                        alt="logo de la Aplicacion"></li>
            </ul>
        </div>
        <div class="col-4 text-end pr-2">
            <ul class="">
                <li style="list-style: none;">654654321 <i class="bi bi-telephone-fill minilogo"></i></li>
                <li style="list-style: none;">SonaraApp@example.com <i class="bi bi-envelope-fill minilogo"></i></li>
                <li style="list-style: none;">Ubicacion <i class="bi bi-geo-alt-fill minilogo"></i></li>
            </ul>
        </div>
    </div>
</footer>