:host {
  display: flex;
  justify-content: center;
  width: 100%; // Le dice al padre flex que este componente ocupa todo el ancho
}

.map-wrapper {
  width: 95%; // Aquí decides qué tan ancho quieres el mapa (95% es bastante)
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.map-title {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: bolder;
}

#map {
  height: 70vh; // 70% de la altura de la pantalla
  width: 100%;  // Ocupa el 100% de .map-wrapper
  align-self: stretch; // FUERZA a que ignore el centrado del padre y se estire
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background-color: white; // Fondo base mientras carga
  z-index: 1;
  cursor: grab;
}

#map:active{
    cursor: grabbing;
}


.results-container {
  margin-top: 30px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);

  h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #3498db;
    display: inline-block;
  }
}

.artist-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.artist-card {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 10px;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
    background: #e9ecef;
  }

  .rank {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3498db;
    margin-right: 15px;
  }

  .artist-info {
    strong { font-size: 1.1rem; }
    p { margin: 0; color: #666; font-size: 0.9rem; }
  }
}